id: 22
name: Table
uuid: b57c8343-97b6-4a07-8fac-9398ac197187
description: 'Define your columns and rows manually.'
image: '{{theme_dir}}thumb-table.gif'
category: 9
rank: 5
options_override: '{"settings":[{"group":"General Table","settings":[{"name":"columns","label":"Columns","type":"select","options":{"1":"1","2":"2","3":"3","4":"4","5":"5","6":"6","7":"7","8":"8","9":"9","10":"10"},"value":"4"},{"name":"items","label":"Rows (Numeric)","type":"text","value":"5"},{"name":"numbered","label":"Number Rows","type":"toggle","value":false}]},{"name":"bordered","label":"Bordered","type":"toggle","value":false},{"name":"striped","label":"Striped Rows","type":"toggle","value":false}]}'

-----

{% set uId = random() %}
<div class="table-responsive">
    <table id="table-{{uId}}" class="table mb-0{%if striped%} table-striped{%endif%}{%if bordered%} table-bordered{%endif%}">
    
      <thead>
        
        <tr>
        
          {% for i in 1..columns %}
              {%if numbered and i==1%}
                  <th scope="col">#</th>
              {%else%}
                  <th scope="col" data-fred-name="th-{{i}}" data-fred-rte="true"
  data-fred-rte-config="table-head">Heading</th>
              {%endif%}
          {%endfor%}
       
        </tr>
       
      </thead>
      
      <tbody>
       
            {% for i in 1..items %}
            <tr id="tr-{{i}}">
              {% for x in 1..columns %}
                  {%if numbered and x==1%}
                      <td>{{i}}</td>
                  {%else%}
                      <td data-fred-name="td-{{i}}-{{x}}" data-fred-rte="true"
      data-fred-rte-config="table-cell">Cell</td>
                  {%endif%}
              {%endfor%}
            </tr>
            {%endfor%}
       
      </tbody>
      
    </table>
    
   
    
</div>
